@import url(style.css);

.icone__maisicone{
  background: var(--cor-azul-fundo);
  padding: 1.7em 1.7em;
  border-radius: 60px;
  box-shadow:0 0 50px #4894FF80;
  position: fixed;
  bottom: 5.2em;
  right: 2em;
}

.barra-icones{
  position: fixed;
  bottom: 0%;
  width: 97%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-left: 0.5em;
  padding-right: 1.5em;
  align-items: center;
  text-align: center;
  background: var(--cor-branca-fundo);
  border-radius: 12px 12px 0 0;
}

.barra-icones__consultas, .barra-icones__clientes, .barra-icones__relatorio, .barra-icones__menu{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icone{
  max-width: 20px;
  max-height: 20px;
  width: auto;
  height: auto;
}

.barra-icone{
  padding: 0.5em 0 0.5em 1em;
  align-items: center;
}

.barra-icones__link{
  padding-top: 0.3em;
  text-decoration: none;
  color: var(--cor-preta-fonte);
  font-size: 12px;
}

form.formulario{
  display: none;
}

@media screen and (min-width: 1280px){
  .barra-icones{
    display: grid;
    grid-template-columns: 1fr;
    max-width: 12%;
    padding: 20px 0 575px 0;
    border-radius: 0;

  }

  .barra-icone{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    display: flex;
    justify-content:space-around;
  }

  .barra-icones__link{
    font-size: 15px;
    padding-right: 1em;
  }

  .barra-icones__link:hover{
    color: var(--cor-azul-fundo);
    font-weight: 700;
  }

  .icone__maisicone{
    display: none;
  }
  
  form.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5em 0 2em 0;
  }

  .formulario-inputs{
    background: var(--cor-branca-fundo);
    padding: 2em 10em 2em 10em;
    border-radius: 8px;
  }

  .formulario-nome-paciente, .formulario-tipo-consulta, .formulario-data-consulta, .formulario-horario-consulta, .formulario-observacoes-consulta, .formulario-envio-consulta{
    padding-bottom: 1em;
  }

  #formulario-nome-paciente__registro, #formulario-tipo-consulta__registro, #formulario-data-consulta__registro, #formulario-horario-consulta__registro, #formulario-observacoes-consulta__registro, #formulario-envio-consulta__registro{
    text-align: center;
  }

  #formulario-envio-consulta__registro{
    font-weight: 600;
  }

  .texto{
    padding-left: 2.5em;
  }

  .horario{
    padding-left: 4.5em;
    padding-right: 2.5em;
  }

  .formulario-envio-consulta__registro{
    padding: 1em 4.5em 1em 4.5em;
    border-radius: 8px;
  }

  input:invalid{
    border: 2px solid red;
  }

  input:valid{
    border: 2px solid black;
  }
}